<div *ngIf="on_going_event?.length == 0; else elseBlock">
  <mat-card>
    <mat-card-title>About to start events</mat-card-title>
    <mat-card-content>No event starting in 5 minutes</mat-card-content>
  </mat-card>
</div>
<ng-template #elseBlock>
  <mat-card>
    <mat-card-title>Happening now</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let schedule of on_going_event">
          <h4 mat-line>{{schedule.name}}</h4>
          <p mat-line> {{schedule.next | date:'short'}}</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>
<mat-card>
  <mat-card-title>Event Scheduler</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-divider></mat-divider>
      <h3 mat-subheader>All scheduled events</h3>
      <mat-list-item *ngFor="let schedule of prve_3_hour_events">
        <h4 mat-line>{{schedule.name}}</h4>
        <p mat-line> {{schedule.next | date:'short'}}</p>
      </mat-list-item>
      <mat-list-item *ngFor="let schedule of sortedList">
        <h4 mat-line>{{schedule.name}}</h4>
        <p mat-line>{{schedule.next | date:'short'}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Next 24 Hours</h3>
      <mat-list-item *ngFor="let schedule of next_24_hour_events">
        <h4 mat-line>{{schedule.name}}</h4>
        <p mat-line> {{schedule.next | date:'short'}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
